@font-face{
  font-family: Montserrat;
  src: url('../../assets/fonts/Montserrat.woff2');
}

.store__header_ul{
  font-family: Montserrat;
  display: flex;
}
.store__hedder_width{
  max-width: 1075px;
  margin: 0 auto;
}
.store__header_panel_border{
  background-color: #fff;
  border-bottom: 1px solid #e5e7f2;
}
.store__header_top_panel{
  box-sizing: border-box;
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: space-between;
}
.store__header_ul li a{
  color: var(--links-color);
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
}
.store__header_ul li a:hover{
  color: var(--links-color-hover);
}
#right__ul li{
  margin-right: 12px;
}
.store__header_ul li{
  margin-right: 27px;
  display: flex;
  align-items: center;
}
.store__header_bottom_panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 124px;
}
.store__tools{
  display: flex;
  width: max-content;
}
.store__tools li{
  display: flex;
  font-family: Montserrat;
  align-items: center;
}
.store__search{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.store__search>input{
  width: 60%;
    padding: 1em;
    border: 1px solid #e5e7f2;
    font-family: Montserrat;
}
.store__search>button{
  background: var(--pramiry-color);
  border-radius: 0px;
  height: 100%;
  width: 50px;
  height: 52px;
  box-sizing: border-box;
  border: none;
}
.store__search_box{
  position: absolute;
  width: 70.5%;
  grid-gap: 2em;
  background: #fff;
  top: 52px;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
  z-index: 99;
  min-height: 140px;
  border-radius: 1px 1px 4px 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.search__box_product{
  display: grid;
  grid-template-columns: 6em 1fr;
  align-items: center;
  font-family: Montserrat;
}
.search__box_product:nth-child(2n+1){
  border-right: 1px solid #e5e7f2;
}
.search__box_product_details{
  margin-left: 1em;
}
.search__box_product_details .search__product_name{
  margin-bottom: 13px;
  display:block;
  font-weight: 400;
  font-size: 15px;
  word-break: break-word;
}
.search__box_product_details .search__category{
  font-size: 12px;
    color: #adaeb0;
    margin-bottom: 13px;
    display: block;
    transition: .3s ease-in;
}
.search__box_product_details .search__category:hover{
  color: var(--links-color-hover);
}
.search__box_price{
  display: flex;
  align-items: center;
}
.search__box_price > h6{
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
}
.search__box_price>h6:first-child{
  margin-right: 5px;
}
.product__discount{
  color: var(--discount-color);
}
.search__box_price .isGlobalDiscount{
  text-decoration: line-through;
  color: #d2d2d2;
  font-size: 12px;
}
.box__product_image{
  max-width: 100%;
  display: block;
}
.box__product_image>img{
  width: 100%;
}
.store__tools li{
  margin-right: 27px;
}
.store__location::before{
  content: "\e012";
}
.store__track_order::before{
  content: "\e022";
}
.store__my_account::before{
  content: "\e056";
}
.store__search_icon:before{
  content: "\e041";
  font-size: 23px !important;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-right: 0 !important;
    align-items: center;
}
.store__basket{
  position: relative;
}
.store__basket:hover, .store_bottom_panel_icon:hover::before{
  color: var(--links-color-hover);
  cursor: pointer;
}
.store__basket_counter{
  top: -4px;
  position: absolute;
  left: 15px;
  background: var(--pramiry-color);
  border-radius: 22px;
  font-size: 11px;
  width: 15px;
  height: 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.store_bottom_panel_icon::before{
  font-size: 23px !important;
  color: #494949;
}
.store__search_box_show{
  animation: show__box 10s forwards;
}

.description-compare::before{
  content: "\e040";
}
.description-favorite::before{
  content: "\e004";
}
.description-basket::before{
  content: "\51";
}

@keyframes show__box{
  form{
    transform: translateY(-400px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}
