
<div *ngIf="categories?.length != 0;else f">
    <div *ngFor="let category1 of categories">

    
        <h1>
            {{category1.categoryName}}

        </h1>
        <ng-template [ngTemplateOutlet]="loadTemplate(category1)" 
                        [ngTemplateOutletContext]="{ $implicit: category1}">
            </ng-template>
        <div>
            <button (click)="delete(category1.id)">Delete</button>
            <button (click)="edit(category1)">Edit</button>
        </div>
    </div>
</div>
<ng-template #f>
    Categories not found
</ng-template>

<ng-template #editTemplate>
    <form (ngSubmit)="updateCategory(editCategory)">
        <div>
            <input type="text" name="categoryName" [(ngModel)]="editCategory.categoryName">
        </div>
    
        <button type="submit">Create</button>
    </form>
</ng-template>


<h1>Create category</h1>
<form [formGroup]="categoryForm" (ngSubmit)="createCategory()" enctype="multipart/form-data">
 <!--
    <div>
        <h1>Name</h1>
       <input type="text" name="categoryName" [(ngModel)]="category.categoryName">
    </div>
    <div>
        <h2>File</h2>
        <input type="file" name="image" (change)="handleImages($event)">
    </div>
-->

    <div>
        Categor name
        <input type="text" name="categoryName" formControlName="categoryName">
    </div>
    <div>
        <h2>File</h2>
        <input type="file" name="image" (change)="handleImages($event)">
    </div>
    <div formArrayName="fields">
        <h1 (click)="addField()">Add Field</h1>

        <div *ngFor="let field of fields.controls; let i = index">

            <input type="text" [formControlName]="i">
        </div>
    </div>
    <button type="submit">Create</button>



    <code>
        {{categoryForm.value| json}}
    </code>
</form>
