@font-face{
  font-family: Montserrat;
  src: url('../../assets/fonts/Montserrat.woff2');
}
.store__navbar{
  z-index: 9;
    height: 65px;
    border-top: 1px solid #e7e8ee;
    border-bottom: 1px solid #e7e8ee;
    margin-bottom: 1em;
    position: sticky;
    top: 0;
    background: #fff;
}
.store__main_links{
  display: flex;
  -webkit-box-align: center;
  height: 100%;
  align-items: center;
}
.store__main_links ul{
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  grid-template-columns: 1fr .8fr .8fr .8fr .8fr;
}
.store__categories{
  background: var(--pramiry-color);
  height: 100%;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
}
.store__main_links ul .store__categories a{
  font-size: 18px;
  color: #fff;
}
.store__main_links ul .store__categories a:hover{
  color: #fff;
}
.store__main_links ul li{
  justify-self: center;
}
.store__phone li{
  font-family: Montserrat;
}
.store__main_links ul li a {
  color: var(--links-color);
  font-size: 14px;
  transition: .7s cubic-bezier(.53,.01,.18,1),visibility .25s ease-in-out,opacity .3s ease-in-out,height 0s .25s;
}
.store__main_links ul li a:hover {
  color: var(--links-color-hover);
}
.store__navbar_width{
  max-width: 1075px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  height: 100%;
  align-items: center;

}
.store__phone{
  display: flex;
  align-items: center;
}
/*

.navbar{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background: #252525;
    justify-content: space-around;
    color: #fff;
}
.navbar__nav{
    display: flex;
    list-style-type: none;
}
.navbar__nav li > a{
    align-content: center;
    padding: 1em 3em 1em 3em;
    color: #fff;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: MuliRegular;
    font-weight: 600;

}
.navbar__nav li{
    transition: .5s all;
    border-right: 2px solid #3b3b3b;
}
.navbar__nav li:hover{
    background: orange;
}



.search__panel{
    background: rgba(255, 251, 33, 0.34);
    padding: .8em;
    text-align: center;
}
.search__panel button{
    cursor: pointer;
    border-radius: 0 6px 6px 0;
    color: #fff;
    font-family: sans-serif;
    outline: none;
    font-weight: 900;
    background: #167bff;
    padding: 0.8em;
    border: none;
}
.search__panel input{
    border-left: 2px dashed rgba(0, 0, 0, 0.50);
    border-bottom: 2px dashed rgba(0, 0, 0, 0.50);
    border-top: 2px dashed rgba(0, 0, 0, 0.50);
    border-radius: 6px 0 0 6px;
    padding: 0.7em;
    width: 17em;
    border-right: none;
}

.navbar__auth{
    display: flex;
    align-items: center;
}
.basket__button{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    padding: 0.3em 0.5em 0.3em 0.5em;
    background: rgba(36, 19, 255, 0.63);
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}


.active{
    background: #e7ab3c;
}


.navbar__panel{
    display: grid;
    grid-template-columns: 1fr 2fr 10em 1fr;
    background: #fff;
    border-bottom: 1px solid rgba(101, 88, 88, 0.30);
}
.navbar__panel > *{
    padding: 0.5em;
    border-right: 1px solid rgba(101, 88, 88, 0.30);
}
.shop__email{
    justify-self: end;
}
.panel__element > h4,select, a{
    height: 100%;
    width: 100%;
    align-content: center;
    display: grid;
}
.input__track_search{
    width: 20em;
    outline: navajowhite;
    text-align: center;
    border-right: none;
    border-left: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
    border-top: 2px solid #ebebeb;
}
.input__track{
    width: 30em;
    font-size: 15px;
    font-family: MuliRegular;
    font-weight: 800;
    letter-spacing: 2px;
}

.input__track_search::placeholder{
    font-family: MuliRegular;
    font-weight: 900;
    color: rgba(86, 81, 78, 0.6);
}
.shop__track{
    text-align: center;
}
.track__items{
    height: 100%;
    display: inline-flex;
}
.button__track_search{
    background: #e7ab3c;
    border: none;
    padding: 0.5em;
    color: white;
    border-radius: 1px 6px 6px 1px;
    cursor: pointer;
    outline: none;
}
.shop__login > button{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    height: 100%;
}
.email__items{
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 14px;
}

.email__items > h4{
    font-weight: 100;
    margin-left: 4px;
    font-family: MuliRegular;
}
.email__items > span{
    font-size: 19px;
}
.shop__basket_panel{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2em;
    align-items: center;
    justify-items: center;
    background: #fff;
}
.basket__panel_tools{
    display: flex;
    align-items: center;
}
.shop__search{
    height: 100%;
}
.shop__search > input{
    width: 35em;
    padding: 1em;
}
.shop__search > button{
    width: 4em;
    height: 100%;
}
.profile__name{
    text-decoration: none;
    color: black;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: MuliRegular;
}
*/
