<header>

<div class="search__panel">
    <input placeholder="Have you bought any items already?" type="text" [(ngModel)]="identificationNumberForSeach" >
    <button (click)="search()">Search</button>
</div>

<nav id="navbar_sticky" class="navbar animated fadeInDown">
    <ul class="navbar__nav">
        <li><a routerLink="/">Home</a></li>
        <li><a *ngIf="tokenStorageService.showAdminBoard" routerLink="/orders">Orders</a></li>
        <button *ngIf="tokenStorageService.isLoggedIn" class="nav-link" (click)="logout()">LogOut</button>
    </ul>
    <div class="navbar__auth"> 
        <mat-icon (click)="openBasket()" class="basket__button" matBadge="{{basketLength}}" matBadgeColor="warn">shopping_cart</mat-icon>


        
        <button *ngIf="!tokenStorageService.isLoggedIn" (click)="loginDialog()">
            <span class="material-icons">
                supervisor_account
                </span>
        </button>
        <div><a *ngIf="tokenStorageService.isLoggedIn" routerLink="/profile">Hi, {{tokenStorageService.currentUserName}}</a></div>
    </div>
</nav>
</header>