.order__section{
    display: flex;
    justify-content: center;
}
.order__table{
    width: 90%;
}
.order__table > table{
    width: 100%;
}
.mat-header-cell{
    text-align: center;
}
.mat-elevation-z8{
    text-align: center;
}
.success{
    
    background: yellowgreen;
   
}
.neutral{
    background: #eaeaea;
}
.error{
    color: #fff;
    background: #cf000f;
}
.error > .order__info{
    color: #fff;
    font-weight: 900;
}
.identificationNumber{
    color: green;
    cursor: pointer; 
    font-weight: 900;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #fff!important;
    color: black !important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #fff;
  }
::ng-deep .mat-checkbox-checkmark-path{
    stroke: black !important;
}
@keyframes opc{
    0%{opacity: 0;}
    10%{opacity: 0.1;}
    20%{opacity: 0.2;}
    30%{opacity: 0.3;}
    40%{opacity: 0.4;}
    50%{opacity: 0.5;}
    60%{opacity: 0.6;}
    70%{opacity: 0.7;}
    80%{opacity: 0.8;}
    90%{opacity: 0.9;}
    100%{opacity: 1;}
    
}
