<nav class="admin__navbar">
  <div>
    <h4></h4>
  </div>
  <ul class="admin__navbar_list">

    <li><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/dashboard">Dashboard</a></li>
    <li><a routerLinkActive="active" routerLink="/admin/subcategory">Subcategories</a></li>
    <li><a routerLinkActive="active" routerLink="/admin/gpus">Gpus</a></li>
    <li><a routerLinkActive="active" routerLink="/admin/cpus">Cpus</a></li>
    <li><a routerLinkActive="active" routerLink="/admin/brands">Brands</a></li>
    <li><a routerLinkActive="active" routerLink="/admin/orders">Orders</a></li>
    <li><a routerLinkActive="active" routerLink="/admin/createProduct">Create Product</a></li>
    <li><a routerLinkActive="active" routerLink = "/admin/createCategory">Create Category</a></li>
  </ul>
</nav>
