@font-face{
    font-family: MuktaRegular;
    src: url("../../assets/fonts/Mukta-Regular.ttf");
}

.filters__products{
    display: grid;
    grid-template-columns: 15em 1fr;
    align-items: center;
}

.slider{
    height: 100vh;
    background-image: url('../../assets/img/GettyImages-811268074.jpg');
    background-size: cover;
}

.categories{
    display: grid;
    grid-template-columns: repeat(3, 18em);
    grid-gap: 1em;
    padding: 2em;
    justify-content: center;
}
.category__card_all{
    background-image: url('../../assets/img/all.jpg');
    background-size: cover;
}
.category__card{
    
    height: 11em;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    background-size: cover;

}
.category__card::before{
    content: '';
    left: 27px;
    border: 13px solid #fff;
    content: "";
    opacity: .3;
    width: calc(100% - 80px);
    height: calc(100% - 60px);

    transform: scale(0);
    transition: all .3s;
    position: absolute;
}
.category__card:hover::before{
    transform: scale(1);
}
.category__card > h2{
    padding: 2px 0 2px 0;
    background: white;
    border-radius: 6px;
    font-weight: 700;
    color: #252525;
    width: 6em;
    font-size: 24px;
    font-family: MuktaRegular;
    text-align: center;
}


.section__title{
    background: #da9b24;

    height: 10em;
    width: 100%;
}
.section__title > h1{
   
    padding: 1em;
    color: #fff;
    /* text-decoration: overline; */
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 40px;
}
.novely__products{
    position: relative;
    top: -4em;
}