


<button (click)="filterByPrice()">Filter</button>

<form style="padding: 0.8em;" (ngSubmit)="filterByCategory()">


    <mat-form-field>
        <mat-label>Choose category</mat-label>
        <mat-select name="category" [(ngModel)]="category.categoryName">
            <mat-option [value]="">All</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category.categoryName">
            {{category.categoryName}}
          </mat-option>
        </mat-select>
      </mat-form-field>




    <button type="submit">Filter</button>

</form>

<a routerLink="createProduct">Create</a>
 
<section *ngIf="products?.length != 0;else message">
    

    <div class="products__loading" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>

    
    <div class="grid__products" *ngIf="!loading">
        <div (mouseleave)="mouseLeave(false, product)" (mouseenter)="mouseEnter(true, product)" class="product__card" *ngFor="let product of products">
            <button *ngIf="isAdmin" class="card__delete" (click)="deleteProduct(product.id)">X</button>
            <div class="product__info">
                <img [src]="product.image[0].imagePath" alt="">
                <h1> 
                    <a routerLink="/detailsProduct/{{product.id}}">{{product.productName}}</a>
                </h1>
                <div class="prodcut__category_price">
                    <h5>{{product.category.categoryName}}</h5>     
                    <h3 class="product__price">{{product.productPrice}} <span>грн</span></h3>
                 
                </div>
            
                <div class="grid__buttons">

                    <button class="button__buy" [@fullWidth]="styleOn && currentProduct === product ? 'max': 'min'" *ngIf="!product.showButton;else inBasket" (click)="addToCart(product)">
                        <span  class="material-icons basket_icon">shopping_basket</span>
                        <span class="span__buy" [ngClass]="{'span__buy_hover':styleOn && currentProduct === product}" >Buy</span>
                        
                    </button>
                    <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                        <mat-icon>favorite</mat-icon>
                      </button>
                </div>
            
                
            </div>
        </div>
    </div>
</section>
<ng-template #message>lox</ng-template>
<ng-template #inBasket>

    <h6>In basket</h6>

</ng-template>
