<section>
  <div class="">
    <app-carousel [slides]="slides"></app-carousel>
</div>
<div class="categories" >
    <div class="category__card" style="background-image: url({{category.imagePath}});" *ngFor="let category of categories" [routerLink]="['category', category.categoryName]">
        <h2>{{category.categoryName}}</h2>
    </div>
    <div class="category__card category__card_all" [routerLink]="['category', 'all']">
        <h2>All</h2>
    </div>
</div>

<button (click)="filterByPrice()">Filter</button>
<form style="padding: 0.8em;" (ngSubmit)="filterByCategory()">
    <mat-form-field>
        <mat-label>Choose category</mat-label>
        <mat-select name="category" [(ngModel)]="category.categoryName">
            <mat-option [value]="">All</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category.categoryName">
            {{category.categoryName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <button type="submit">Filter</button>
</form>

<a routerLink="createProduct">Create</a>


<!--
<div class="products__loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>

<section class="filters__products">
-->

<section>
    <div class="section__title">
        <h1>Novelty</h1>
    </div>


    <!--
    <div  class="filters">
        <div *ngFor="let brand of brands">
            <input type="checkbox" (change)="filter(brand.name, null)" value="{{brand.name}}">{{brand.name }}({{brand.products.length}})
        </div>
        <hr>
        <div *ngFor="let cpu of cpus">
            <input type="checkbox" (change)="filter(null, cpu.name, null)" value="{{cpu.name}}">{{cpu.name}}
        </div>
        <hr>
        <div *ngFor="let gpu of gpus">
            <input type="checkbox" (change)="filter(null, null, gpu.name)" value="{{gpu.name}}">{{gpu.name}}
        </div>
    </div>

-->


    <div class="novely__products" *ngIf="!mainLoading; else lod">
        <app-products  [numberOfColumns]="5" [pr]="lastTenProducts" [usualLook]="true" ></app-products>
    </div>
</section>
<section>
    <div class="section__title">
        <h1>MOST Most Purchased</h1>
    </div>
    <div class="novely__products">
        <app-products [numberOfColumns]="5" [productsFromComponent]="productsToComponent" [topFiveLook]="true"></app-products>
    </div>
</section>


<section>
    <div>
        <h1>Novelties, discounts and best deals</h1>
        <p>All the best, just for you!</p>
        <div>
            <form ngNativeValidate action="" (ngSubmit)="subscribe(email.value)">
                <input type="email" #email [required]="true">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
</section>

<ng-template #message>
    <h1>Nothing</h1>
</ng-template>
<ng-template #inBasket>

    <h6>In basket</h6>

</ng-template>
<ng-template #lod>
    <mat-spinner></mat-spinner>
</ng-template>
</section>
