
@font-face{
    font-family: MuktaRegular;
    src: url("../../assets/fonts/Mukta-Regular.ttf");
}
@font-face{
  font-family: Montserrat-Light;
  src: url('../../assets/fonts/Montserrat-Light.ttf');
}


.store__ad_grid{
  display: grid;
  grid-template-columns: 1fr 1.1fr;
}

.store__ad_text{
  background: #000;
  color: #fff;
  font-family: Montserrat-Light;
  padding: 0 21% 0 15%;
}
.store__ad_text > h1{
  font-weight: 100;
  font-size: 46px;
  line-height: 1.3;
  word-break: break-word;
  margin-bottom: .4em;
  margin-top: .9em;
}
.store__ad_text > p{
  font-size: 15px;
  font-weight: 100;
  line-height: 1.8;
  margin-bottom: 1.7em;
}
.store__ad_text > button{
  background: linear-gradient(to right,#5677fc 0,#3fc7fd 50%,#5677fc 100%);
  color: #fff;
  background-position: 0;
  background-size: 200% 200%;
  transition: all .3s ease-in-out;
  padding: 11px 47px;
  font-size: 14px;
  border-radius: 2em;
  cursor: pointer;
  border: none;
  font-weight: 900;
}
.store__ad_text > button:hover{
  background-position: 100% center;
}














/*BAD STYLES*/
.filters__products{
    display: grid;
    grid-template-columns: 15em 1fr;
    align-items: center;
}

.slider{
    height: 100vh;
    background-image: url('../../assets/img/GettyImages-811268074.jpg');
    background-size: cover;
}

.categories{
    display: grid;
    grid-template-columns: repeat(3, 18em);
    grid-gap: 1em;
    padding: 2em;
    justify-content: center;
}
.category__card_all{
    background-image: url('../../assets/img/all.jpg');
    background-size: cover;
}
.category__card{

    height: 11em;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
    background-size: cover;

}
.category__card::before{
    content: '';
    left: 27px;
    border: 13px solid #fff;
    content: "";
    opacity: .3;
    width: calc(100% - 80px);
    height: calc(100% - 60px);

    transform: scale(0);
    transition: all .3s;
    position: absolute;
}
.category__card:hover::before{
    transform: scale(1);
}
.category__card > h2{
    padding: 2px 0 2px 0;
    background: white;
    border-radius: 6px;
    font-weight: 700;
    color: #252525;
    width: 6em;
    font-size: 24px;
    font-family: MuktaRegular;
    text-align: center;
}


.section__title{

    width: 100%;
}
.section__title > h1{

    padding: 1em;
    margin-bottom: 2em;
    color: #000;
    /* text-decoration: overline; */
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 40px;
}
.novely__products{
    position: relative;
    top: -4em;
}
