<router-outlet></router-outlet>
<!--
<div style="margin-top: 3em;">

  <app-products [isAdminLook]="true" [pr]="products"></app-products>

  <hr>


  <h1>PROMO CODES</h1>
  <div *ngFor="let item of products">
    <h3>{{item.productName}}</h3>
    <div *ngFor="let code of item.promotionalCodes">
        <code>
          {{code.code}}
        </code>
    </div>
    <form (submit)="addPromo(item ,percent.value, numberOfDays.value, numberOfUses.value)">
      <div>
        <h3>Number Of Uses</h3>
        <input type="number" #numberOfUses>
      </div>
      <div>
        <h3>Percent</h3>
        <input type="number" #percent>
      </div>
      <div>
        <h3>Number Of Days</h3>
        <input type="number" #numberOfDays>
      </div>
      <button type="submit">Send</button>
  </form>
  </div>
</div>

-->
