<section class="sections">

    <div class="sections__grid">

 <div class="grid__columns">
    <h2 class="product__title">Технічні характеристики <span>{{product?.productName}}</span></h2>
    <div *ngFor="let item of product.productSection" class="features">
        <h4 class="section__title">{{item.title}}</h4>
        <div *ngFor="let val of item.sections| keyvalue" class="section__values">
           <div>
                <h4 class="section__key">{{val.key}}</h4>
           </div>
            <div>
                 <h4 class="section__value">{{val.value}}</h4>
            </div>
        </div>
     </div>
 </div>
   
 <div>
    <app-single-look-product [singleLook]="true" [product]="product"></app-single-look-product>
 </div>
  <!--    <div class="product__position">
       <div class="product__card_details">
           <div class="card">
            <h4 class="product__header">Your product</h4>
                <div class="product__name_image">
                    <img src="{{product.image[0].imagePath}}" width="100em" alt="">
                    <h4>{{product.productName}}</h4>
                </div>
                <div class="product__price_button">
                    <h3>{{product.productPrice}} <span>грн</span></h3>
                    <button><span>Buy</span></button>
                    <h5 *ngIf="product.isGlobalDiscount">{{product.discountPrice}}</h5>
                </div>
           </div>
       </div>
    </div>
-->
    </div>
</section>
