@font-face{
  font-family: Montserrat;
  src: url('../../assets/fonts/Montserrat.woff2');
}
@font-face{
  font-family: Montserrat-Light;
  src: url('../../assets/fonts/Montserrat-Regular.ttf');
}
input[type="text"], input[type="email"], input[type="tel"], select{
  margin: 0 0 14px;
    padding: 16px 24px 15px;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 18px;
    color: #787878;
    background-color: transparent;
    border: 1px solid #e5e7f2;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus{
  border-color: #41c4fd;
}
.order__section{
  padding: 2em;
  font-family: Montserrat;
}
.order__login{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
  border-bottom: 1px solid #e5e7f2;
  padding: 1em;
  color: var(--pramiry-color);
}
.order__login > h3{
  align-self: center;
}
.order__login > button{
    border: none;
    box-sizing: border-box;
    width: 5em;
    border-radius: 4px;
    height: 3em;
    background: cornflowerblue;
    color: #fff;
    font-weight: 900;
    cursor: pointer;
    letter-spacing: 1px;

  transition: .2s ease-in;
}
.form__validation_error{
  margin-bottom: 1em;
}
.order__form{
  display: grid;
  justify-content: center;
  max-width: 680px;
  margin: 0 auto;
}
.order__form>h4{
  margin-bottom: 2em;
  font-family: Montserrat;
  letter-spacing: 1px;
}
.order__firstName_lastName, .order__email_mobilePhone{
  display: grid;
    grid-gap: 2em;
    grid-template-columns: 20em 20em;
}
.order__firstName, .order__lastName, .order__email, .order__mobilePhone, .delivery__city, .delivery__department, .delivery__street, .delivery__house, .delivery__flat, .delivery__postal_code{
  display: grid;
}
.order__firstName > label, .order__lastName> label, .order__email> label,  .order__mobilePhone>label, .delivery__city>label, .delivery__department>label, .delivery__street>label, .delivery__house>label, .delivery__flat>label, .delivery__postal_code > label{
  margin-bottom: 1em;
  font-family: Montserrat;
}
.delivery__type{
  margin-bottom: 1em;
}
.mat-radio-button{
  margin-right: 1em;
}
select {
  font-size: 14px;
}
select:focus{
  border-color: #41c4fd;
}
.departamnet__time>h3{
  font-family: sans-serif;
  margin-bottom: 1em;
}

.departamnet__time{
  text-align: center;
}
.schedule{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 5em;
  justify-content: center;
}
.schedule div > h4{
  color: #272626;
}
.schedule div {
  font-family: Montserrat;
}
table{
  margin-top: 1em;
  font-family: Montserrat;
  width: 100%;
  border-collapse: collapse;
}
thead{
  text-align: left;
}
td,th{
  padding: 14px 0;
  border-bottom: 1px solid #e5e7f2;
  text-align: left;
  vertical-align: middle;
}
.order__items td{
  font-size: 14px;
  font-family: Montserrat-Light;
  color: #787878;
}
.table__items_title{
  color: #3a3636;
  letter-spacing: 1px;
  font-size: 14px;
}
.order__buy_btn{
  width: 10em;
  border-radius: 2em;
  border: none;
  background: #5677fc;
  padding: 13px 31px;
  outline: none;
  white-space: nowrap;
  color: #fff;
  margin-top: 2em;
  justify-self: end;
  font-family: Montserrat;
  cursor: pointer;
  transition: .2s ease-in;
  font-size: 14px;
}
.order__buy_btn:hover, .order__login > button:hover{
  background-color: #3e71fa;
}
.basket__empty_order_number{
  font-family: Montserrat;
  padding: 1em;
}
.basket__empty>img{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 600px;
}
.basket__empty > h2{
  text-align: center;
  margin-top: 1em;
  color: #535353;
  letter-spacing: 1px;
}
.basket__empty_description{
  text-align: center;
  margin-top: 1em;
  color: #535353;
}
.basket__empty_description p{
  line-height: 1.5;
}
.basket__shop_now{
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
