<div *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<ng-container  *ngIf="totalPrice != 0">
  <section *ngIf="!isLoading" class="order__section">
    <button *ngIf="!tokenStorage.isLoggedIn" (click)="loginDialog()">Login</button>
    <div class="container">
      <form (submit)="sendOrder()" class="order__form">
        <h4>Billing details</h4>
        <div class="order__firstName_lastName">
          <div class="order__firstName">
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" [(ngModel)]="order.costumerName">
          </div>
          <div class="order__lastName">
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" [(ngModel)]="order.costumerLastName">
          </div>
        </div>
        <div class="order__email_mobilePhone">
          <div class="order__email">
            <label for="orderEmail">Email</label>
            <input type="email" id="orderEmail" name="email" [(ngModel)]="order.email">
          </div>
          <div class="order__mobilePhone">
            <label for="orderMobilePhone">Mobile Phone</label>
            <input type="tel" id="orderMobilePhone" [(ngModel)]="order.customerMobilePhone" name="costumerMobilePhone">
          </div>
        </div>
        <div class="order__delivery_type">


            <div class="delivery__type">
                <mat-radio-button value="1" [checked]="deliveryOffice" (change)="selectDelivery(fromOffice.value)" #fromOffice>From department</mat-radio-button>
                <mat-radio-button value="2"(change)="selectDelivery(courier.value)" #courier>Courier</mat-radio-button>
            </div>



            <div class="delivery__fromOffice">
              <div class="delivery__city">
                  <label for="deliveryCityOffice">City</label>
                  <select name="currentCity"  (change)="getNovaPoshtaDepartaments()" [(ngModel)]="currentCity">
                    <option *ngFor="let city of cities" value="{{city.Description}}">{{city.Description}}</option>
                  </select>
              </div>
              <div class="delivery__department" *ngIf="deliveryOffice && departaments?.length != 0 && currentCity != null">
                <label for="derliveryDepartment">Department</label>
                <select  name="currentDepartament"  [(ngModel)]="currentDepartment" (change)="changeDepartament()">
                  <ng-container *ngFor="let departament of departaments;">
                    <option value="{{departament | json}}">{{departament.Description}}</option>
                  </ng-container>
                </select>
              </div>
              <div class="departament_details" *ngIf="department != null && currentDepartment != null">
                  <div class="departamnet__time">
                      <h3 *ngIf="department != null">{{department.Description}}</h3>
                      <div class="schedule">
                        <div *ngFor="let val of department.Reception|keyvalue">
                          <h4 class="section__key">{{val.key}}</h4>
                          <p class="section__value">{{val.value}}</p>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="delivery__courier" *ngIf="deliveryCourier">
              <div class="delivery__street">
                <label for="orderStreet">Street</label>
                <input type="text" id="orderStreet" name="street" [(ngModel)]="customCourierDelivery.costumerStreet">
              </div>
              <div class="delivery__house">
                <label for="orderHouse">House</label>
                <input type="text" id="orderHouse" name="house" [(ngModel)]="customCourierDelivery.costumerHouse">
              </div>
              <div class="delivery__flat">
                <label for="orderFlat">Flat</label>
                <input type="text" id="orderFlat" name="flat" [(ngModel)]="customCourierDelivery.costumerFlat">
              </div>
              <div class="delivery__postal_code">
                <label for="orderPostalCode">Postal code</label>
                <input type="text" id="orderPostalCode" [(ngModel)]="customCourierDelivery.customerPostalCode" name="costumerPostalCode">
            </div>
            </div>

        </div>

        <div>
          <h1 *ngIf="orderNumber != null" style="background-color: brown;">{{orderNumber}}</h1>
          <table class="items__result">
            <thead>
              <tr>
                <th>Product</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of sa">
                <td>{{item.productName}}</td>
                <td>{{item.price}}</td>
              </tr>
            </tbody>
          </table>

        </div>

        <button type="submit">Buy</button>
      </form>
    </div>

  </section>
</ng-container>

