<section>
   <div class="container">
    <div style="margin-top: 3em;">
        <div class="admin__product" *ngFor="let product of products">
            <div class="product__item">
                <button (click)="deleteProduct(product.id)" class="product__delete_edit product__delete"><i class="description-delete delete__icon"></i></button>
              
                <img [src]="product.image[0].imagePath" [alt]="product.productName">
                <h3>{{product.productName}}</h3>
            </div>
            <div>
                <button (click)="edit(product)" class="product__delete_edit product__edit"><i class="description-edit edit__icon"></i></button>
        
            </div>

        </div>
   </div>
   </div>
</section>
<form #myForm="ngForm" (ngSubmit)="createProduct()" method="POST" novalidate>

    <div>
        <h2>Product name</h2>
        <input  type="text" name="productName" [(ngModel)]="product.productName">
    </div>

<editor
[(ngModel)]="product.description"
name="description"
apiKey = "oafydqqtkaeecsa5sztqiauvrrawxqlyhrjhy0lx29dtr56r"
[init]="{
  height: 300,
  menubar: false,
  plugins: [
    'advlist autolink lists link image charmap print preview anchor',
    'searchreplace visualblocks code fullscreen',
    'insertdatetime media table paste code help wordcount'
  ],
  toolbar:
    'undo redo | formatselect | bold italic backcolor | \
    alignleft aligncenter alignright alignjustify | \
    bullist numlist outdent indent | removeformat | help'
}"
></editor>

<div>
    <div>
        <h2>Category</h2>
          <select name="category" (change)="showCategories()" [(ngModel)]="id">
            <option *ngFor="let item of category" value="{{item.id}}">{{item.categoryName}}</option>
          </select>

          <select *ngIf="currentCategory?.subcategories.length > 0" name="subcategory" (change)="showSubcategories()" [(ngModel)]="subcategoryId">

              <optgroup label="{{currentCategory.categoryName}}">
                <option *ngFor="let subcategory of currentCategory.subcategories" value="{{subcategory.id}}">{{subcategory.subcategoryName}}</option>
              </optgroup>
          </select>
    </div>
<div>

    <h1>Category fields</h1>
    <div *ngFor="let item of categoryFields; let i = index">
        <div>
            <h1 style="color: green;">TITLE: {{item.title}}</h1>
        </div>

        <div>

            <div *ngFor="let field of item.fields">
                <h4>Field name: {{field.name}}</h4>
                <input type="text" #value (change)="setValue(item.title, field, value.value)">

            </div>
            <a style="display: block; padding: 1em; background: green; border: none;" (click)="saveValues()">Save changes</a>
        </div>


        <!--<input type="text" name="{{item.fieldName}}" (change)="setValue(item.fieldName, value.value)" #value >-->
    </div>
    <hr>





    <h2>Product price</h2>
    <input type="text" name="productPrice" [(ngModel)]="product.productPrice">
</div>

<div>
    <h2>Product price</h2>
    <input type="file" multiple name="images" (change)="handleImages($event)" [(ngModel)]="product.image">
</div>

<div>
    <h2>Brand</h2>
    <select name="brand"required [(ngModel)]="product.brand.id">
        <option *ngFor="let item of brands" value="{{item.id}}" >{{item.name}}</option>

    </select>
</div>

<div>
    <h2>Amount In Stock</h2>
    <input type="number" name="amountInStock" [(ngModel)]="product.amountInStock" >
</div>

<div>
    <select name="cpus" (change)="showCpuDetails()" [(ngModel)]="product.cpu.id">

        <option  *ngFor="let cpu of cpus"  value="{{cpu.id}}">{{cpu.name}}</option>
    </select>
</div>


<div *ngIf="currentCpu != null">

    <h3>{{currentCpu.name}}</h3>

    <h3>{{currentCpu.minFrequency}}</h3>

    <h3>{{currentCpu.maxFrequency}}</h3>

    <h3>{{currentCpu.generation}}</h3>

    <h3>{{currentCpu.numberOfCores}}</h3>

    <h3>{{currentCpu.integratedGraphics}}</h3>

</div>

<div>
    <select name="cpus" (change)="showGpuDetails()" [(ngModel)]="product.gpu.id">

        <option  *ngFor="let gpu of gpus"  value="{{gpu.id}}">{{gpu.name}}</option>
    </select>
</div>

<div *ngIf="currentGpu != null">

    <h3>{{currentGpu.name}}</h3>

    <h3>{{currentGpu.memoryBusWidth}}</h3>

    <h3>{{currentGpu.memoryFrequency}}</h3>

    <h3>{{currentGpu.memorySize}}</h3>

    <h3>{{currentGpu.memoryType}}</h3>


</div>





    <div>
        <h2>Notify all subscriber?</h2>
        <input type="checkbox" name="notify" (change)="notify = !notify">
    </div>


    <button type="submit">Create</button>
</div>
<ng-template #message>

    <h1>If you want to create a product, you must first create a category</h1>
    <a routerLink="/createCategory">Create category</a>

</ng-template>

</form>

