.product__delete{
    background: #F44336;
  }
  .product__edit{
    background: var(--pramiry-color);
  }
  .product__delete_edit{
    cursor: pointer;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    outline: none;
  }
  .delete__icon::before{
    content: '9';
  }
  .edit__icon::before{
    content: '~';
  }
  .edit__icon::before, .delete__icon::before{
    margin: 0;
    color: #fff;
    font-size: 14px;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .admin__product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .product__item{
    max-height: 100%;
    align-items: center;
    display: flex;
  }
  .product__item > img{
    max-height: 70px;
  }