<div class="spinner" *ngIf="loading">
    <mat-spinner ></mat-spinner>
</div>
<section class="basket">
  <div class="store__basket_title">
    <h3>Shopping Cart</h3>
  </div>

  <ng-container *ngIf="sa.length != 0; else empty">
  <div class="store__basket">

      <div class="store__items" *ngIf="!loading">
        <ng-container *ngFor="let product of sa">
          <div class="store__item">
              <div class="item__remove">
                <span (click)="remove(product)"><i class="description-remove icon__remove_item"></i></span>
              </div>
              <div class="item__image">
                <img [src]="product.images[0].imagePath" [alt]="product.productName">
              </div>
              <div class="item__name">
                <h4><a (click)="closeDialog()" routerLink="/detailsProduct/{{product.id}}">{{product.productName}}</a></h4>
              </div>
              <div class="item__price">
                <h4>{{product.price}}₴</h4>
              </div>
              <div class="item__amount">
                <button [disabled]="product.amount == 1" class="control__buttons button__minus" (click)="minusAmount(product)"></button>
                <input type="number" (change)="updateAmount(product,f.value )" min="1" max="99" #f [(ngModel)]="product.amount">
                <button class="control__buttons button__plus" (click)="plusAmount(product)"></button>
              </div>
              <div class="item__total_price">
                <h4>{{product.totalProducPrice}}₴</h4>
              </div>
              <div class="item__promocode">
                <input type="text" (change)="chechDiscount(discount.value, product)" [disabled]="product.promo != null" [value]="product.promo" #discount placeholder="Promocode">
              </div>
            </div>
          </ng-container>
      </div>
  </div>
</ng-container>
  <div *ngIf="sa.length != 0" class="store__total_price">
    <div class="total__price_buy">
      <div class="total__price">
        <h3 class="total__title">Total</h3>
        <h3 class="price">{{totalPrice}}₴</h3>
      </div>
      <a (click)="closeDialog()" routerLink="/basket">Proceed to Checkout</a>
    </div>
  </div>
</section>

<ng-template #empty>
    <h1 class="cart__empty">You cart is empty</h1>
    <div class="cart__empty_image">
      <img src="../../assets/img/basketIsEmpty.gif" />
    </div>
</ng-template>
