<div class="spinner" *ngIf="loading">
    <mat-spinner ></mat-spinner>
</div>


<div class="basket" *ngIf="!loading">
    <div class="basket__title_button">
        <h2>Shoping cart</h2>
        <span>X</span>
    </div>
<div class="basket__grid">
    <div class="basket__item" *ngFor="let item of sa">
        <div class="basket__image">
            <img src="{{item.images[0].imagePath}}" alt="">
        </div>
        <div class="basket__item_description">
           <div class="basket__item_name">
                <div class="basket__name_code">
                    <h4>
                        <a (click)="closeDialog()" routerLink="/detailsProduct/{{item.id}}">{{item.productName}}</a>
                    </h4>
                    <h5>Code: {{item.id}}</h5>
                </div>
                <button (click)="remove(item)">Remove</button>
           </div>
                <div class="basket__price_amount">
    
                    <h3>{{item.price}} грн</h3>
                    <div class="basket__amount">
                        <button [disabled]="item.amount == 1" class="control__buttons button__minus" (click)="minusAmount(item)"></button>
                        <input type="number" (change)="updateAmount(item,f.value )" min="1" max="99" #f [(ngModel)]="item.amount" width="2em">
                        <button class="control__buttons button__plus" (click)="plusAmount(item)"></button>
                    </div>
                    <input type="text" (change)="chechDiscount(discount.value, item)" #discount>
                    <h4>{{item.totalProducPrice}}</h4>
                </div>
       
        </div>

        


    </div>
    <h2>TOTAL PRICE: {{totalPrice}}</h2>
</div>

<a (click)="closeDialog()" routerLink="/basket">buy</a>
</div>

<ng-template #empty>

    <h1>You basket is empty</h1>

</ng-template>