@font-face{
  font-family: Montserrat;
  src: url('../../../assets/fonts/Montserrat.woff2');
}
.remind__me_section{
  height: 100%;
}
.remind__me_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
.remind__me_image{
  max-width: 100%;
    display: block;
}
.remind__me_text{
  align-self: center;
  padding: 1em;
  font-family: Montserrat;
}
.remind__me_text>h3{
  text-align: center;
  letter-spacing: 1px;
  font-size: 22px;
  margin-bottom: 1em;
  text-transform: uppercase;
}
.remind__me_text>p{
  text-align: center;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 2em;
}
.remind__me_email{
  display: flex;
  justify-content: center;
  height: 100%;
}
.remind__me_email>input{
  height: 100%;
  outline: none;
  box-sizing: border-box;
  padding: 1em;
  border: 1px solid #bfb8b8;
  justify-self: center;
  width: 70%;
}
.remind__me_email>button{
  box-sizing: border-box;
  background: transparent;
  justify-self: center;
  width: 44px;
  border-right: 1px solid #bfb8b8;
  border-bottom: 1px solid #bfb8b8;
  border-top: 1px solid #bfb8b8;
  border-left: none;
  outline: none;
  cursor: pointer;
  transition: .3s ease-in;
}
.remind__me_email>button:hover{
    background: #d4cbcb;
}
.form__validation_error>h4{
  text-align: center;
  margin-top: 5px;
}
app-products > div{
  background: black;
}
