<div class="spinner" *ngIf="loading">
    <mat-spinner ></mat-spinner>
</div>


<div *ngIf="!loading">
<h2>TOTAL PRICE: {{totalPrice}}</h2>
<div class="basket__grid">
    <div class="basket__item" *ngFor="let item of sa">
        <img style="width: 4em; height: 4em;" src="{{item.images[0].imagePath}}" alt="">

        <h1><a (click)="closeDialog()" routerLink="/detailsProduct/{{item.id}}">{{item.productName}}</a></h1>
        <div class="basket__title_remove">

            <h5>Code: {{item.id}}</h5>
            <h3>Price: {{item.price}}</h3>
            <h4>Total price: {{item.totalProducPrice}}</h4>
        </div>

        <div class="basket__amount">
            <button (click)="minusAmount(item)">-</button>
            <h3 >{{item.amount}}</h3>
            <button (click)="plusAmount(item)">+</button>
        </div>
        <button (click)="remove(item)">Remove</button>

    </div>
</div>

<a (click)="closeDialog()" routerLink="/basket">buy</a>
</div>

<ng-template #empty>

    <h1>You basket is empty</h1>

</ng-template>