
<h1 style="padding: 1em; text-align: center; background: palegreen;">Hi, {{currentUser.firstName | titlecase}} {{currentUser.lastName | titlecase}} </h1>

<div>
<mat-tab-group class="profile__tabs" animationDuration="0ms">
    <mat-tab label="Profile">
        <div *ngIf="!loading; else spiner">
            <h2>Username: {{currentUser.username}}</h2>
            <h3>City: {{currentUser.city}} Address: {{currentUser.address}}</h3>
            <h3>{{currentUser.firstName}} {{currentUser.lastName}}</h3>
            <h3>{{currentUser.mobilePhone}} {{currentUser.postalCode}}</h3>
        </div>
        <button (click)="openEditDialog(currentUser)" >Edit</button>
    </mat-tab>
    <mat-tab label="Orders">

        <div class="profile__orders" *ngIf="orders?.length > 0;else message">
            <div class="order__card" *ngFor="let order of orders; let i = index">

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = openPanel(order) && panelOpenState"
                    (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="expansion__panel_header">
            <mat-panel-title>
               <div class="epansion__panel_header">
                   
                <h3>Order №: {{order.identificationNumber}}</h3>
                <h3>{{order.createdDate | date: 'mm-dd-yyyy hh:mm'}}</h3>

                    <div>
                    <img width="50em" height="50em" *ngFor="let item of order.customProducts" src="{{item.product.image[0].imagePath}}" alt="">
                </div>


                <h3>Amount {{order.customProducts.length}}</h3> 
                <h3>Total price: {{order.totalPrice}}</h3>
            
            </div>
            </mat-panel-title>

            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
            </mat-expansion-panel>
        </mat-accordion>


    </div>
    </div>
    </mat-tab>
  </mat-tab-group>

</div>

<ng-template #spiner>

    <mat-spinner></mat-spinner>

</ng-template>
<ng-template #message>You have not any orders</ng-template>

<ng-template #cancel>This order is closed</ng-template>