<section>
  
   <div class="grid__opinion">


      <div class="items__positions">
         <div>
            <h1>
               Opinions 
            </h1>
            <div *ngFor="let item of opinions?.comments">
              <h1>{{item?.text}}</h1>
              <h4>89% користувачів вважають цей відгук корисним</h4>
              <h3>User name: {{item?.user?.firstName}} {{item?.user?.lastName}}</h3>
              <h4>Rating {{item?.rating}}</h4>
              <h4>Переваги: {{item?.advantages}}</h4>
              <h4>Недоліки: {{item?.disadvantages}}</h4>
               <h4>Likes: {{item?.likes}}</h4>
               <div *ngIf="!item.meLiked; else liked">
                  <button class="btn__like non__liked" (click)="setLike(currentUser, item)">
                     <span style="color: red;" class="material-icons">
                        favorite_border
                        </span>
                  </button>
               </div>
               <ng-template #liked>
                  <button class="btn__like liked" (click)="setLike(currentUser, item)">
                     <span style="color:red;" class="material-icons">
                        favorite
                        </span>
                  </button>
               </ng-template>

              <star-rating [starType]="'svg'" [rating]="item.rating" [numOfStars]="5" [showHalfStars]="false" [readOnly]="true"></star-rating>
           </div>
           <div>
             <ul class="pagination">
                <li *ngFor="let item of totalPages; let i = index">
                   <a [class.active__page]="i=== page" (click)="setPage(i, $event)">{{i}}</a>
                </li>
             </ul>
           </div>
         </div>
      
         <div class="set__opinion" *ngIf="isLoggedIn">
        
            <div class="opinion__form">
      
            <h3 class="about__product_title">Opinion about product</h3>
            <form action="" method="POST" (ngSubmit)="setOpinion(text.value, advantages.value,disadvantages.value )">
            
               <div class="opinion__form_padding">
                  <div class="rating__margin">
                     <star-rating [starType]="'svg'" [rating]="0" staticColor="ok" [hoverEnabled]="true" size="large" (ratingChange)="onRatingChange($event)"  [numOfStars]="5" [showHalfStars]="false" [readOnly]="false"></star-rating>
                  </div>
                
                  <div class="form__input_lable">
                     <h4>Advantages</h4>
                     <input #advantages type="text" >
                  </div>
                  <div class="form__input_lable">
                     <h4>Disadvantages</h4>
                     <input #disadvantages type="text" >
                  </div>
                  <div class="form__input_lable">
                     <h4>Text</h4>
                     <textarea id="" maxlength="3500" cols="25" #text rows="10"></textarea>
                 </div>
                   <div class="form__input_lable">
                       <h4>First name</h4>
                      <input type="text" [value]="currentUser.firstName">
                   </div>
                   <div class="form__input_lable">
                      <h4>Last name</h4>
                     <input type="text" [value]="currentUser.lastName">
                  </div>
              
                  <div class="form__input_lable">
                     <h4>Email</h4>
                    <input type="text" [disabled]="true" [value]="currentUser.email">
                 </div>
                     <div class="btn__position">
                        <button class="btn__set_opinion" type="submit">Leave a comment</button>
                     </div>
               </div>
              </form>
            </div>
         </div>   
      </div>

      <div>
         <app-single-look-product [singleLook]="true" [product]="product"></app-single-look-product>
      </div>



   </div>
  
   
   
  
   
</section>