<section>
  
   <div class="grid__opinion">


      <div class="items__positions">
         <div>
            <h1>
               Opinions 
            </h1>
        
            <div class="opinion__card" *ngFor="let item of opinions?.comments">
               <div class="user__opinions">
                  <h3 class="opinion__user_name">{{item?.user?.firstName}} {{item?.user?.lastName}}</h3>
                  <star-rating staticColor="ok"  class="opinion__user_stars" [starType]="'svg'" size="small" [rating]="item.rating" [numOfStars]="5" [showHalfStars]="false" [readOnly]="true"></star-rating>
                  <h4 class="opinion__useful_percent"> <span *ngIf="item.likes.length != 0">{{getPercent(item.likes.length, item.dislikes.length).toFixed(0)}}% of users found this review helpful</span></h4>
                  <h4 class="opinion__user_date">{{item?.dateTime| date}}</h4> 
               </div>
              <p class="comment__text">{{item?.text}}</p>
              <div class="opinion__advantages_disadvantages">
               <h4 class="advantages">Advantages: {{item?.advantages}}</h4>
               <h4>Disadvantages: {{item?.disadvantages}}</h4>
             
              </div>
    
            
              
               <div class="replay__like_dislkie">
                  <button>Reply</button>
                     <div class="btn__like_dislike">
                        <div>
                           <button [disabled]="currentUser === null" class="btn__like non__liked" (click)="setLike(item)">
                           
                              <div class="btn__like_counter">
                                 <span *ngIf="item.meLiked" style="color: blue;" class="material-icons">
                                    thumb_up_alt
                                    </span>
                                    <span *ngIf="!item.meLiked" style="color: silver;" class="material-icons">
                                       thumb_up_alt
                                    </span>
                                    <h4>{{item?.likes.length}}</h4>
                              </div>
                           </button>
         
                        </div>
                        
                           <div>
                              <button [disabled]="currentUser === null" class="btn__like non__liked" (click)="setDislike(item)">
                                 <div class="btn__like_counter">
                                 <span style="color: yellow;" *ngIf="item.meDisliked" class="material-icons">
                                    thumb_down_alt
                                 </span>
                                 <span *ngIf="!item.meDisliked">
                                    <span style="color: silver;" class="material-icons">
                                       thumb_down_alt
                                       </span>
                                 </span>

                                 <h4>{{item.dislikes.length}}</h4>
                              </div>
                              </button>
                           </div>
                     </div>
               </div>
                  
  
               
               
            
               
               
          </div>
           <div>
             <ul class="pagination">
                <li *ngFor="let item of totalPages; let i = index">
                   <a [class.active__page]="i=== page" (click)="setPage(i, $event)">{{i}}</a>
                </li>
             </ul>
           </div>
         </div>
      
         <div class="set__opinion" *ngIf="isLoggedIn">
        
            <div class="opinion__form">
      
            <h3 class="about__product_title">Opinion about product</h3>
            <form action="" method="POST" (ngSubmit)="setOpinion(text.value, advantages.value,disadvantages.value )">
            
               <div class="opinion__form_padding">
                  <div class="rating__margin">
                     <star-rating [starType]="'svg'" [rating]="0" staticColor="ok" [hoverEnabled]="true" size="large" (ratingChange)="onRatingChange($event)"  [numOfStars]="5" [showHalfStars]="false" [readOnly]="false"></star-rating>
                  </div>
                
                  <div class="form__input_lable">
                     <h4>Advantages</h4>
                     <input #advantages type="text" >
                  </div>
                  <div class="form__input_lable">
                     <h4>Disadvantages</h4>
                     <input #disadvantages type="text" >
                  </div>
                  <div class="form__input_lable">
                     <h4>Text</h4>
                     <textarea id="" maxlength="3500" cols="25" #text rows="10"></textarea>
                 </div>
                   <div class="form__input_lable">
                       <h4>First name</h4>
                      <input type="text" [value]="currentUser.firstName">
                   </div>
                   <div class="form__input_lable">
                      <h4>Last name</h4>
                     <input type="text" [value]="currentUser.lastName">
                  </div>
              
                  <div class="form__input_lable">
                     <h4>Email</h4>
                    <input type="text" [disabled]="true" [value]="currentUser.email">
                 </div>
                     <div class="btn__position">
                        <button class="btn__set_opinion" type="submit">Leave a comment</button>
                     </div>
               </div>
              </form>
            </div>
         </div>   
      </div>

      <div>
         <app-single-look-product [singleLook]="true" [product]="product"></app-single-look-product>
      </div>



   </div>
  
   
   
  
   
</section>