<h1>
    Opinions 
 </h1>
 <div class="set__opinion" *ngIf="isLoggedIn">
    <form action="" method="POST" (ngSubmit)="setOpinion(text.value)">
     <div>
         <h3>1</h3> 
         <input type="radio" value="1" (change)="ranking = 1" name="rating">
      </div>
      <div>
          <h3>2</h3> 
          <input type="radio" value="2"  (change)="ranking = 2" name="rating">
       </div><div>
          <h3>3</h3> 
          <input type="radio" value="3"  (change)="ranking = 3" name="rating">
       </div><div>
          <h3>4</h3> 
          <input type="radio" value="4" (change)="ranking = 4" name="rating">
       </div><div>
          <h3>5</h3> 
          <input type="radio" value="5" (change)="ranking = 5" name="rating">
       </div>
  
       <div>
           <h3>First name</h3>
          <input type="text" [disabled]="true" [value]="currentUser.firstName">
       </div>
       <div>
          <h3>Last name</h3>
         <input type="text" [disabled]="true" [value]="currentUser.lastName">
      </div>
  
      <div>
          <h3>Text</h3>
          <textarea id="" cols="30" #text rows="10"></textarea>
      </div>
 
         <button type="submit">Send</button>
     </form>
 
 </div>
 
 
 
 <div *ngFor="let item of opinions">
     <h1>{{item.text}}</h1>
     <h3>User name: {{item.user.firstName}} {{item.user.lastName}}</h3>
     <h4>Rating {{item.rating}}</h4>
 </div>
 
 

 