@font-face{
    font-family: ArialRegular;
    src: url("../../../../assets/fonts/Arial.ttf");
}
.pagination{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.pagination li{
    border: 1px solid #4976ca;
    border-radius: 4px;
    margin-right: 10px;
}
.pagination li a{
    padding: .5em;
    display: block;
}
.active__page{
    color: white;
    background: #4976ca;
    font-weight: 900;
}
.grid__opinion{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.set__opinion{
    padding: 1em;
}
.items__positions{
    justify-self: center;
}
.opinion__form{
    padding: 1em 1.5em 1em 1.5em;
    background: #f6f6f6;
    width: 900px;
    border: 1px solid #ededed;
    border-bottom: 0;
    box-shadow: inset 0 -3px 0 0 #c5c5c5, 3px 3px 7px 0 rgba(200,200,200,.5);
    border-radius: 3px;
}
.about__product_title{
    text-align: center;
    color: #4d4b4b;
    font-family: sans-serif;
    border-bottom: 4px solid #00a046;
    line-height: 2.5;
}
.rating__margin{
    margin-top: 1em;
}
.opinion__form_padding{
    padding: 1em;
}
.form__input_lable > h4{
    margin-bottom: 10px;
    color: #4d4b4b;
    font-family: sans-serif;
    font-weight: 400;
}
.form__input_lable > input{
    width: 100%;
    height: 2.25em;
    margin-bottom: 1em;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    font-size: 1.15385em;
    resize: none;
    caret-color: #00a046;
    color: #4d4b4b;
    padding-left: 1em;
    font-size: .8em;
    transition: border-color .2s ease;
}

.form__input_lable > input:focus{
    border-color: #221f1f;
    outline: 0;
}
.form__input_lable > textarea{
    width: 100%;
    height: 128px;
    margin-bottom: 1em;
    resize: none;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    font-size: 1.15385em;
    /* width: 21em; */
    padding: .33333em;
    resize: none;
    caret-color: #00a046;
    color: #4d4b4b;
}
.btn__set_opinion{
    background: #3e77aa;
    border: none;
    font-family: sans-serif;
    font-weight: 900;
    color: #fff;
    padding: 10px 18px 11px;
    font-size: 1.125rem;
    line-height: 1em;
    border-radius: 4px;
    cursor: pointer;
}
.btn__set_opinion:hover{
    background: #4096e3;
}
.btn__position{
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}
.btn__like{
    background: none;
    border: none;
}
.user__opinions{
    display: grid;
    grid-template-columns: 11em 6em 2fr 1fr;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 1em;
}
.comment__text{
    word-break: break-all;
    color: #4d4b4b;
    font-size: 0.9em;
    font-family: sans-serif;
    line-height: 1.6;
}

.opinion__card{
    font-family: ArialRegular;
    width: 850px;
    margin: 0 auto;
    padding: 2em;
    border-bottom: 1px solid #eaeaea;
}
.opinion__user_name{
    font-size: 1.2em;
    justify-self: center;
    color: #4d4b4b;
}
.opinion__user_star{
    justify-self: self-start;
}
.opinion__user_date{
    justify-self: end;
    color: #999;
    font-weight: 400;
    font-size: 0.8em;
}

.opinion__useful_percent{
    font-weight: 400;
    color: #4d4b4b;
    font-size: .8em;
}

.opinion__advantages_disadvantages{
    color: #4d4b4b;
    margin-top: 1em;
    margin-bottom: 1em;
}
.advantages{
    margin-bottom: .5em;
}
.replay__like_dislkie{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.btn__like_counter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.btn__like_dislike{
    display: flex;
    justify-self: end;
    align-items: center;
}