@import 'normalize.css';
@import 'assets/ranking.css';
@font-face{
  font-family: dripicons-v2;
  src: url('assets/fonts/dripicons-v2.woff');
}
*{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a{
  text-decoration: none;
}
body{
  -webkit-font-smoothing: antialiased;
}
:root{
  --links-color-hover: #5677fc;
  --links-color:#494949;
  --pramiry-color:#5677fc;
}
.successMessage{
    background-color: green;
    color: white;
    font-weight: 900;

    z-index: 999999;
}
.errorMessage{
    background-color: red;
    color: white;
    font-weight: 900;
    z-index: 999999;
}
.dialog__basket >  mat-dialog-container {
    height: 35em;
    width: 55em;

    justify-content: center;
    display: flex;
}
[class*="description-"]::before{
  font-family: "dripicons-v2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  margin-right: 10px;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}
