@import 'normalize.css';
*{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
a{
  text-decoration: none;
}
body{
  -webkit-font-smoothing: antialiased;
}
:root{
  --links-color-hover: #5677fc;
  --links-color:#494949;
  --pramiry-color:#5677fc;
}
.successMessage{
    background-color: green;
    color: white;
    font-weight: 900;

    z-index: 999999;
}
.errorMessage{
    background-color: red;
    color: white;
    font-weight: 900;
    z-index: 999999;
}
.dialog__basket >  mat-dialog-container {
    height: 35em;
    width: 55em;

    justify-content: center;
    display: flex;
}
