<h1>Average rating: {{averageRanking}}</h1>

<h4>Характеристки</h4>


<nav class="details__nav">
   <ul class="details__ul">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="all">All about product</a></li>
      <li routerLinkActive="active"><a routerLink="features">Product features</a></li>
      <li routerLinkActive="active"><a routerLink="opinions">Opinions <span class="opinion__counter">{{product?.opinionProducts.length}}</span></a></li>
   </ul>
</nav>


<router-outlet></router-outlet>

   








<h1>You may also be interested in</h1>
<div *ngFor="let product of simularProducts; let i = index;">
   <h2>{{i}}) {{product.productName}}</h2>
</div>
